/*FONT IMPORTATION*/
@font-face {
    font-family: 'Pacifico';
    src: url('../resource/fonts/Pacifico-Regular.ttf');
}
/*MAIN*/
#mainFrame{
    /*-fx-background-color: red;*/
    -fx-font: bolder 16px "Trebuchet MS";
    -fx-background-radius: 30;
}

#appName{
    -fx-font: bolder 40px "Pacifico";
    -fx-text-fill: #f0134d;
}

/*TOP MENU*/
#topMenu{
    -fx-background-color: #40bfc1;
    -fx-background-radius: 30;
}

#topMenu .label{
    -fx-text-fill: white;
}

#topMenu .menu-button {
    -fx-background-color: transparent;
    -fx-mark-color: #40bfc1;
    -fx-padding: 0 0 0 0;
}

#topMenu .jfx-hamburger StackPane{
    -fx-background-color: white;
}

#topMenu .context-menu{
    -fx-background-radius: 15;
    -fx-background-color: white;
    -fx-padding: 15 5 15 5;
}

#topMenu .context-menu .menu-item .label{
    -fx-text-fill: black;
}

#topMenu .context-menu .menu-item:focused, #topMenu .context-menu .menu-item:hover{
    -fx-background-color: #f0134d;
}

#topMenu .context-menu .menu-item:focused .label, #topMenu .context-menu .menu-item:hover .label{
    -fx-text-fill: white;
}

/*Side Bar*/
#sideMenu{
    -fx-background-color: #40bfc1;
    -fx-background-radius: 30;
}

#sideMenu .button{
    -fx-padding: 0 20 0 0;
    -fx-text-fill: white ;
}

#sideMenu .button:hover{
    -fx-text-fill: #f5f0e3;
}

.activeButton{
    -fx-background-color: linear-gradient(to left, #f0134d, transparent);
}

#content{
    -fx-background-color: #f5f0e3;
    -fx-background-radius: 30;
}