
#notification_stackpane,#content,.list-view{
    -fx-background-color: transparent;
    -fx-background-radius:15;
}
#notification_label{
    -fx-font: bolder 25px "italic";
    -fx-background-color: #ccc9bd;
}
.list-cell{
    -fx-background-radius:15;
}
.list-cell:selected{
    -fx-text-fill: #f5f0e3;
    -fx-background-color: #ee974c;
}
#hbox{
    -fx-background-color: #ccc9bd;
    -fx-background-radius:50;
    -fx-alignment: center;
}
#vBox{
    -fx-pref-width: 270.0;
    -fx-padding: 0 0 0 10;
}
#hbox:hover{
    -fx-background-color: #ee974c;
}
#HBOX{
   -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-fill-width: 50;
    -fx-alignment: center;
    -fx-background-radius: 15;
}
#title{
    -fx-font-size: 16;
    -fx-text-fill: #163143;
}
#description1{
    -fx-font-size: 12;
    -fx-text-fill: #170480;
}
#duration{
    -fx-font-size:8;
    -fx-text-fill: #858585;
}