#mainAnchorPane {
    -fx-background-color: #E5ECF3;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: transparent;
    -fx-effect: null;
}

#frame{
    -fx-background-color: #E5ECF3;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.27), 10, 0.0 , 0 , 4);
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #E5ECF3;
    -fx-effect: null;
}

.jfx-tab-pane .tab-headers-region {
    -fx-effect: null;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-size: 24;
    -fx-text-fill: grey;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #ee974c;
    -fx-effect: null;
    -fx-pref-height: 5;
}

.tab {
    -fx-background-color: #E5ECF3;
    -fx-background-radius: 20 20 0 0;
}

.tab:selected{
    -fx-background-color: white; /* qsssssssssssssssssssssssssssssssssssssssssssss  E5ECF3*/
}
.jfx-tab-pane .tab:selected .tab-label{
    -fx-text-fill: #ee974c;
}

.jfx-tab-pane .tab-content-area {
    -fx-background-color: white;
}

.jfx-tab-pane .depth-container { -fx-effect: null; }

.jfx-date-picker .text-field {
    -fx-prompt-text-fill: #8d8d8d;
    -fx-text-fill: #8d8d8d;
}

.series0.chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom, #ee974c, transparent);
}

.chartTitle {
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
    -fx-text-fill: #ee974c;
    -fx-underline: true;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart .chart-legend {
    -fx-background-color: transparent;
}

.chart .chart-title {
    -fx-text-fill: grey;
    -fx-font-size: 18;
}

#pane {
    -fx-background-color: linear-gradient(to right, #63b7af, #74d4c0);
    -fx-background-radius : 15 ;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.33), 5, 0.0 , 0 , 1 );
}

#pane2 {
    -fx-background-color: linear-gradient(to right, #eb6383, #fa9191);
    -fx-background-radius : 15 ;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.33), 5, 0.0 , 0 , 1 );
}

#pane3 {
    -fx-background-color: linear-gradient(to right, #f5b971, #fdd998);
    -fx-background-radius : 15 ;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.33), 5, 0.0 , 0 , 1 );
}

#pane4 {
    -fx-background-color: linear-gradient(to right, #3b6978, #84a9ac);
    -fx-background-radius : 15 ;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.33), 5, 0.0 , 0 , 1 );
}

.button {
    -fx-background-color: #ee974c;
    -fx-text-fill: white;
}

#areaChart .button {
    -fx-background-color: transparent;
    -fx-text-fill: #ee974c;
}
