
.button{
    -fx-background-color: #170480;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 16px;

}

.button:pressed{
    -fx-background-color: #ee974c;
}

.button:hover{
    -fx-background-color: #ee974c;
}
.ExitButton{
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-background-color:  #909497 ;

    -fx-font-size: 16px;
}
.DeleteButton{
    -fx-background-color:  #F38A8A;
    -fx-font-size: 16px;

}


.Titles{
    -fx-font-family:"ADAM.CG PRO";
    -fx-font-size: 40px;
    -fx-padding: 30px;
}
.ErrorMessage{
    -fx-font-family: 'Roboto Mono for Powerline';
    -fx-text-fill: red;
    -fx-font-size: 20;

}
#AllProvidersTable {

}
.ContextList{
    -fx-font: 20 'URW Gothic';
}
.CloseButton{
    -fx-graphic: url(../../resource/icons/CloseBlack.png);
    -fx-padding: 0px;
    -fx-background-color:transparent;

}
.CloseButton:hover {
    -fx-cursor: hand;
    -fx-graphic: url(../../resource/icons/CloseIconReverse.png);
    -fx-background-color:transparent;
}
#EditButton{
    -fx-graphic: url(../../resource/icons/EditIcon.png);
    -fx-padding: 0px;
    -fx-background-color:transparent;
    -fx-text-fill: black;
}
#EditButton:hover{
    -fx-cursor: hand;
}
.RootParentModify{
    -fx-background-color: rgba(255, 255, 255, 0)
}
.ModifyPane{
    -fx-background-color:white;

}
.Content{
    -fx-text-fill: blue;
}
.StyleRoots{
    -fx-border-width:3px;
    -fx-border-color: black;
}

.check-select {
    -jfx-checked-color: #2196f3;
    -fx-cursor: hand
}
.table-view {
    -fx-table-color: #ee974c;
    -fx-table-rippler-color: linear-gradient(to bottom, rgba(233, 219, 164, 0.91), rgba(233, 197, 168, 0.91), rgba(233, 192, 174, 0.91));
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-insets:  1, 1, 1, 1;
    -fx-selection-bar-non-focused: -fx-table-color;
}

.table-view:focused .table-row-cell:selected{
    -fx-background-color: -fx-table-color;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: black;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}
.table-row-cell{
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgba(233, 219, 164, 0.91);
}

.table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}



.table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.table-row-cell:grouped {
    -fx-background-color: rgb(230, 230, 230);
}



.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;
}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}
.roots{
    -fx-background-color: rgb(239, 242, 249);
    -fx-font: bolder 16px "Trebuchet MS";
}
.windows {
    -fx-border-width: 2px;
    -fx-border-color: #170480;

    -fx-background-radius: 20;
    -fx-border-radius: 20;

}
.jfx-text-field{
    -fx-font: bolder 16px "Trebuchet MS";

}
.ItWasSent{
    -fx-text-fill:  #4CA64C;
}
.ItWasntSent{
    -fx-text-fill: #F38A8A;
}
.TableCotainer{
    -fx-border-width: 2px;
    -fx-border-color: #170480;
}